matplotlib 
mypy-extensions==0.4.3
pandas==1.2.4
pyarrow==6.0.0
pycosat==0.6.3
pycurl==7.43.0.6
pydeck==0.7
pyodbc===4.0.0-unsupported
pytest==6.2.3
scikit-image==0.18.1
scikit-learn 
scipy 
seaborn 
streamlit==1.1.0
matplotlib 
pandas==1.2.4